<div class="product-form">
    <h1 class="title-form">Iniciar Sesi칩n</h1>
    <form action="/api/sessions/login" method="POST">
        <div class="form-group">
            <label for="email" class="status-label">Email:</label>
            <input type="email" name="email" required class="form-control" placeholder="Ingresa tu email" />
        </div>

        <div class="form-group">
            <label for="password" class="status-label">Contrase침a:</label>
            <input type="password" name="password" required class="form-control" placeholder="Ingresa tu contrase침a" />
        </div>

        <button type="submit" class="submit-btn">Iniciar Sesi칩n</button>
    </form>
</div>
