<header>
  <nav>
    <ul>
      <li><a href="/products">Productos</a></li>
      <li><a href="/realtimeproducts">Formulario</a></li>
      <li><a id="carrito" href="">Carrito</a></li>
    </ul>
  </nav>
</header>
<h1>Mi Perfil</h1>
<p>Bienvenido! {{user.first_name}} - {{user.last_name}} </p>
<a href="/api/sessions/logout">Logout</a>