<div class="product-form">
    <h1 class="title-form">Registro</h1>
    <form action="/api/sessions/register" method="POST">
        <div class="form-group">
            <label for="first_name" class="status-label">Nombre:</label>
            <input type="text" name="first_name" required class="form-control" placeholder="Ingresa tu nombre" />
        </div>

        <div class="form-group">
            <label for="last_name" class="status-label">Apellido:</label>
            <input type="text" name="last_name" required class="form-control" placeholder="Ingresa tu apellido" />
        </div>

        <div class="form-group">
            <label for="email" class="status-label">Email:</label>
            <input type="email" name="email" required class="form-control" placeholder="Ingresa tu email" />
        </div>

        <div class="form-group">
            <label for="password" class="status-label">Contraseña:</label>
            <input type="password" name="password" required class="form-control" placeholder="Crea una contraseña" />
        </div>

        <div class="form-group">
            <label for="age" class="status-label">Edad:</label>
            <input type="number" name="age" required class="form-control" placeholder="Ingresa tu edad" />
        </div>

        <button type="submit" class="submit-btn">Registrar</button>
    </form>
</div>
