<div class="container-root">
    <div class="content-center">
        <h1 class="root-title-welcome">Bienvenido a la Plataforma</h1>
        <div class="buttons-container">
            <a href="/login" class="btn-auth login">Iniciar Sesión</a>
            <a href="/register" class="btn-auth register">Registrarse</a>
        </div>
    </div>
</div>